# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# When adding additional environment variables, the schema in "/src/env.ts"
# should be updated accordingly.

# Analytics
# Using Umami
# @see https://umami.is
NEXT_PUBLIC_UMAMI_URL="" # URL of your Umami instance
NEXT_PUBLIC_UMAMI_WEBSITE_ID="" # Website ID of your Umami instance

# Production URL
# Used for site metadata generation.
VERCEL_PROJECT_PRODUCTION_URL=""

# Application Production URL
# Used for "Sign up" / CTA links to your app. Defaults to http://localhost:3000.
NEXT_PUBLIC_APP_URL=""
